			<%if session[:identity] then %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Date and time</th>
						<th>Barber</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					<%@app_hash.each do |key,val| %>
					<tr>
						<td><%=key%></td>
						<td><%=key%></td>
						<td><%=key%></td>
						<td><%=key%></td>
						<td><%=key%></td>
						<th><%=val%></th>
					</tr>
					<%end%>
				</tbody>
			</table>
			<% end %>
