			<%if session[:identity] then %>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Date and time</th>
						<th>Barber</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					<%@app_hash.each do |key,val| %>
						
						<td><%=key["id"]%></td>
						<td><%=key["name"]%></td>
						<td><%=key["phone"]%></td>
						<td><%=key["datetime"]%></td>
						<td><%=key["barber"]%></td>
						<td><%=key["color"]%></td>
						
					</tr>
					<%end%>
				</tbody>
			</table>
			<% end %>
