			<%if session[:identity] then %>
			<h2>Appointment list</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Date and time</th>
						<th>Barber</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					<%@app_hash.each do |key,val| %>
						<tr>
						<td><%=key["id"]%></td>
						<td><%=key["name"]%></td>
						<td><%=key["phone"]%></td>
						<td><%=key["datetime"].tr("T"," ")%></td>
						<%if key["barber"] == "opt1"%>
						<td>Крокодил Гена</td>
						<%else%>
						<td>Чебурашка</td>
						<%end%>
						<td><span style="background-color: <%=key["color"]%>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
						
					</tr>
					<%end%>
				</tbody>
			</table>
			<h2>List of barbers</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				<%@barb_hash.each do |row|%>
					<tr>
						<td><%=row["id"]%></td>
						<td><%=row["barber"]%></td>
					</tr>
				<%end%>	
				</tbody>
			</table>
				<form action='/barberadd' method='post' class="form-inline well">
  					<input type="text" name='barbername' placeholder="Barber Name" autofocus required="">
  					<input type="text" name='optname' placeholder="inner name" required="">
  					<input class="btn primary" type='submit' value='Add'>
				</form>
			<% end %>
